# Local Codex/CLI files
codex.instructions

# Editors / IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/
env/

# OS / misc
.DS_Store
Thumbs.db
*.tmp
~$*

# Tools
.tmp_tools/

# Logs
wget-log

# Target
fw/nftables.target.conf

#Bunkerweb cache
srv_bunkerweb/data/cache/jinja_cache
srv_bunkerweb/data/lib/ui_sessions_cache
srv_bunkerweb/data/cache/blacklist
srv_bunkerweb/data/lib/db.sqlite3-shm
srv_bunkerweb/data/lib/db.sqlite3-wal
